Django
openai
python-dotenv
pydantic==2.5.3
requests
flashtext
pytest
pytest-django
rapidfuzz
bs4
pytest-asyncio
gunicorn
whitenoise
dj-database-url
psycopg2-binary==2.9.6
whitenoise
django-htmx
loguru
